.xchange-message-wrap {
	padding: 1.5em;
	background: #999999;
	margin: 0 0 2.3em 0;
	width: 100%;
}
.xchange-message-wrap :last-child {
	padding-bottom: 0;
}
.xchange-message-wrap:nth-child(2n) {
	background: #dfe8ff;
}
.xchange-message-wrap:nth-child(2n+1) {
	background: #c79a52;
}
.xchange-title {
	font-weight: bold;
}
.xchange-message-wrap p:last-child {
	margin: 0;
	padding: 0 !important;
}