.donation-info-wrap {
	text-align: center;
	width: 80%;
	display: inline;
	display: inline-block;
	font-size: 2em;
}
.arrow-wrap {
	width: 8%;
	display: inline;
	display: inline-block;
	font-size: 2.8em;
	padding: 0 1%;
	cursor: pointer;
}
.arrow-right {
	text-align: right;
}
.arrow:hover {
	text-shadow: 0 0 3px #00cfff
}
.arrow {
	line-height: 1.6;
}
.address-row {
	display: none;
}
.team-profile-sponsors .msg,
.owner-link .msg {
	text-align: left;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: .8em;
	font-style: italic;
	color: #333;
}
.comments-bubble {
	margin: 0 !important;
	position: absolute;
	top: 0;
}
.comments-bubble:hover {
	top: -14px;
}
.owner-link a {
	color: #ffffff;
	text-decoration: none;
	border: 0;
}
.owner-link a:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #b784bf;
	text-decoration: none;
	border: 0;
}
.sponsors-link {
	color: #ffffff;
	text-decoration: none;
	border: 0;
}
.sponsors-link:hover {
	color: #ffffff;
	text-shadow: 0 0 2px #00cfff;
	text-decoration: none;
	border: 0;
}
div#donation-receipt-wrap {
	display: none;
}
div.donation-selector-row::-moz-selection {
	background: transparent;
	color: #ffffff;
	text-shadow: none;
}
div.donation-selector-row::selection {
	background: transparent;
	color: #ffffff;
	text-shadow: none;
}
.activity-stream {
	padding: 1.5em;
	background: #999999;
	margin: 0 0 2.3em 0;
	width: 100%;
}
.activity-stream :last-child {
	padding-bottom: 0;
}
.activity-stream:nth-child(2n) {
	background: #F1F1F1; /*#dfe8ff;*/
}
.activity-stream:nth-child(2n+1) {
	background: #A0A0A0; /* #c79a52; */
}
.xchange-title {
	font-weight: bold;
}
.activity-stream p:last-child {
	margin: 0;
	padding: 0 !important;
}